/*#region KÄYTTÖJÄRJESTELMÄ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: rgba(250, 247, 240, 255);
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.desktop-nav {
    margin: 0 10px;
    width: 100%;
}

h1 {
    color: rgba(0, 29, 47, 255);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 18px;
    margin-bottom: 20px !important;
}

@font-face {
    font-family: 'GG';
    src: url('Lobster-Regular.ttf');
    src: local('☺'), url('') format('ttf'), url('Lobster-Regular.ttf') format('truetype');
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}
/*#endregion */

@media (min-width: 801px) {
    .phone-nav { 
        display: none; 
    }

    p {
        font-size: 20px;
    }

    .topnav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /*background-color: rgba(148, 198, 208, 255);*/
		background-color: rgb(113, 121, 126);
        font-size: 35px;
        border-radius: 5px;
		padding: 0.8% 0% 0.8% 0%;
    }

    .topnav a {
        color: rgba(0, 29, 47, 255);
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;
		padding: 0.5% 1%;
    }

    .topnav a:hover {
        background-color: rgba(250, 247, 240, 255);
        border-radius: 10px;
    }
	
	.me {
        flex-direction: row;
		display: flex;
		width: 75%;
		min-width: 450px;
		max-width: 850px;
		padding-top: 75px;
		padding-bottom: 125px;
		margin: auto;
    }

    .me img {
        width: 250px;
		height: auto;
		border-radius: 10px;
		align-self: center; /* Aligns image to the top of the container */
    }

    .insta-img {
        width: 75px;
        height: 75px;
    }

}

@media (max-width: 800px) {
	
    h1 {
        margin-top: 10px !important;
        font-size: 42px !important;
        margin-bottom: 22px !important;
    }

    p {
        font-size: 17px;
    }

    .desktop-nav {
        display: none;
    }

    .phone-nav {
        margin-bottom: 1%;
    }

    .topnav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /*background-color: rgba(148, 198, 208, 255);*/
		background-color: rgb(163, 171, 176);
        font-size: 28px;
        border-radius: 5px;
		padding: 3% 0% 2% 0%;
    }

    .topnav a {
        color: rgba(0, 29, 47, 255);
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 10px;
		padding: 1.5% 2.2%;
    }

    .topnav a:hover {
		background-color: rgba(44, 149, 171, 255);
		color: white;
        border-radius: 10px;
    }
	
	.me {
        flex-direction: column;
		display: flex;
		width: 75%;
		min-width: 450px;
		max-width: 850px;
		padding-top: 10%;
		margin: auto;
		align-content: center;
		align-items: center;
		text-align: center;
    }

    .me img {
        width: 200px;
		height: auto;
		align-self: center; /* Aligns image to the top of the container */
		padding-bottom: 5%;
		padding-top: 2%;
		border-radius: 10px;
    }

    /*Jalkatila*/
    footer {
        flex-direction: column !important;
        align-items: center !important;
        min-height: max-content;
    }

    .some-icons {
        justify-content: center;
        align-items: center;
    }

    .insta-img {
        width: 50px;
        height: 50px;
    }
}

/*#region FOOTER PAGE LAYOUT */
footer {
	background-color: rgb(113, 121, 126);
    /*background-color: rgba(44, 149, 171, 255);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4%;
    padding-top: 5%;
    block-size: auto;
    height: 350px;
}

.footer-content {
    display: flex;
	margin: auto;
    color: rgba(250, 247, 240, 255);
}

.insta-img:hover {
	filter: invert(100%);
    transform: scale(1.4);
    transition: transform 0.6s ease;
}

footer a:hover {
        background-color: none; !important;
    }


/*#endregion */

